header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://cdn.vox-cdn.com/thumbor/iqU03AEx2xcvL9Kk35U26Q1kI_s=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/65901858/acastro_180730_1777_facial_recognition_0001.0.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white {
  color: white;
}

.hidden {
  opacity:0;
}
.console-container {
 
  font-family: Helvetica;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}